html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #222;
}

a {
  text-decoration: none;
}

footer.footer {
  position: absolute;
  bottom: 0;
  min-height: 200px;
  background-color: #efefef;
}

footer.footer .footer-inner {
  margin: 1em !important;
}

/**
 * Header Section
 *
 */

header {
  width: 94%;
  min-height: 80px;
  margin: 0 auto;
}

header>h1 {
  margin: 1em 0;
  padding: 0;

}

header hr {
  border: 1px solid #eee;
}

nav {
  overflow: hidden;
  width: 94%;
  margin: 0 3%;
}

nav ul {
  clear: both;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  float: right;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: .25em 1em;
}

nav ul li a:hover {
  background-color: #efefef;
}


/**
 * Content Section
 *
 */

section {
  width: 94%;
  margin: 0 auto;
}

section h2,
section h3,
section h4,
section h5,
section h6 {
  font-weight: normal;
  margin: 1em 0;
  padding: 0;
}

section .operations {
}

section .operations .item {
  margin: 1em 0 0 0;
  background-color: #ddd;
  clear: both;
  overflow: hidden;
  cursor: pointer;
}

section .operations .item .method {
  background-color: #555;
  color: #fff;
  float: left;
  width: 6%;
  text-transform: uppercase;
  line-height: 2em;
  text-align: center;
}

section .operations .item .method.get { background-color: green; }
section .operations .item .method.post { background-color: blue; }
section .operations .item .method.put { background-color: purple; }
section .operations .item .method.patch { background-color: orange; }
section .operations .item .method.delete { background-color: red; }

section .operations .item .path {
  float: left;
  width: 54%;
  margin: 0 1%;
  line-height: 2em;
}
section .operations .item .blurb {
  float: left;
  width: 37%;
  line-height: 2em;
  text-align: right;
}

section .operations .attributes {
  width: 94%;
  margin-left: 6%;
  min-height: 200px;
  background-color: #eee;
  overflow: hidden;
}

section .operations .attributes textarea {
  margin: 1%;
  width: 48%;
  min-height: 300px;
  font-size: 1.2em;
  display: block;
  white-space: pre;
  font-family: monospace;
  border: 1px solid #ccc;
  float: left;
}

section .operations .attributes table {
  margin: 1% 1% 1% 0;
  width: 48%;
  min-height: 300px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  float: left;
}

/**
 * Footer Section
 *
 */

footer {
  position: fixed;
  bottom: 1px;
  width: 100%;
  min-height: 150px;
  background-color: #efefef;
}

footer>div {
  margin: 2em;
}
